<div class="row">
    <h3><div class="live-dot"></div> Live Games</h3>
    <% @matches.finished.each do |match| %>
        <div class="match-overview large-4 columns map_de_dust2">
            <%= link_to '', match_path(match), :target => "_self" %>
            <div class="row">

                <div class="small-4 columns team-1"><%= match.team_1 %></div>
                <div class="small-4 columns versus">vs</div>
                <div class="small-4 columns team-2"><%= match.team_2 %></div>
            </div>
            <div class="row">
                <div class="small-4 columns team-1"><%= match.team_1_score %></div>
                <div class="small-4 columns team-2"><%= match.team_2_score %></div>
            </div>

        </div>
    <% end %>
</div>
<div class="row">
    <h2>Finsihed</h2>
    <table class="match-overview-table">
        <thead>
        <tr>
            <th>Teams</th>
            <th width="150">Map</th>
            <th width="150">Score</th>
        </tr>
        </thead>
        <tbody>
        <% @matches.finished.each do |match| %>
            <tr onclick="location.href='<%= match_path(match) %>'">
                    <td>
                        <p class="team-1"><%= match.team_1 %></p>
                        <p class="versus">vs</p>
                        <p class="team-2"><%= match.team_2 %></p>
                    </td>
                    <td><p>de_dust2</p></td>
                    <td>
                        <p class="team-1"><%= match.team_1_score %></p>
                        <p>-</p>
                        <p class="team-2"><%= match.team_2_score %></p>
                    </td>
            </tr>
        <% end %>


        </tbody>
    </table>
</div>
