<!DOCTYPE html>
<html>
<head>
  <title>Esporttracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
</head>
<body ng-app="esporttracker">
<div class="container">
    <nav class="navigation">
        <p class="logo">ESPORT TRACKER</p>
        <ul>
            <li><%= link_to 'Home',root_path %></li>
            <li>About</li>
        </ul>
    </nav>
    <%= yield %>
</div>


</body>
</html>
